---
import CategoryGallery from "../../components/category-gallery/category-gallery";
import Main from "../../layouts/main.astro";


export async function getStaticPaths() {
  return [
    { params: { category: "basement" } },
    { params: { category: "dining-room" } },
    { params: { category: "entrance" } },
    { params: { category: "facade" } },
    { params: { category: "kitchen" } },
    { params: { category: "screened-in-porch" } },
    { params: { category: "room-bathroom" } }, // ✅ fixed
  ];
}

const { category } = Astro.params;
---

<Main>
<CategoryGallery client:load category={category} />
</Main>
