---
import PatientVisitorGuide from "../../index-page/patient-visitor-guide/patient-visitor-guide";
import Main from "../../layouts/main.astro";
import PatientVisitor from "../../layouts/patient-visitor-guide.astro";
---
<Main>
  <PatientVisitorGuide client:load />
</Main>
