---
import MainLayout from "../components/layout/MainLayout";
import '../styles/global.css';

const { pathname } = Astro.url;
const isIndexPage = pathname === "/";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Title & Description -->
    <title>Harmony Health |  Compassionate Psychiatric Care for Seniors</title>
    <meta name="description" content="Helping older adults and their families find safety, healing, and hope in Harmony." />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">

    <!-- Open Graph for Social Sharing -->
    <meta property="og:title" content="Rivers Residence" />
    <meta property="og:description" content="Helping older adults and their families find safety, healing, and hope in Harmony." />
    <meta property="og:image" content="/image/rivers-residence-meta.jpeg" />
    <meta property="og:url" content="https://harmonyfortworth.com" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Harmony Health" />
    <meta name="twitter:description" content="Helping older adults and their families find safety, healing, and hope in Harmony." />
    <meta name="twitter:image" content="/images/our-focus.png" />

    <!-- Author and Generator -->
    <meta name="author" content="Harmony Health />
    <meta name="generator" content="Astro" />
  </head>

  <body>
     <MainLayout client:load isIndexPage={isIndexPage}>
      <slot />
    </MainLayout>
  </body>
</html>
